.bg-g {
	background: linear-gradient(270.16deg, var(--px-theme-3) 5.74%, var(--px-theme-2) 92.05%);
}

.bg-dark {
	background: linear-gradient(177deg, #100E24 0%, #030211 190%);
}

.bg-g {
	background: #eef5ff;
	color: #030211;
	.slick-dots {
		li {
			border: #000 solid 1px;
		} 
		.slick-active {
			background-color: var(--px-theme);
		}
	}
	.testimonials-box {
		box-shadow: #929395 5px 5px 5px;
		
  background: #f3f3f3;
	}
	.contact-form {
		.form-control {
			background: rgba(0,0,0,0.05);
			color: #000;
		}
	}
}